body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header{
    background-color: aquamarine;
}

nav{
    background-color: black;
}

main{
    background-color: red;
    font-size: 100%;
}

footer{
    background-color: green;
}

li{
    display: inline-block;
    width: auto;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}

p{
    line-height: normal;
}